{% extends "base.htm" %} {% block title %}Login{% endblock %} {% block head %}
{{ super() }} {% endblock %} {% block content %}{% endblock %}{% block subcontent %}
<script>
  function AlertMessage(){
    let msg = "{{msg}}";
    if (msg.length == 0)
      return;
    
    else
     window.alert(msg);
  }
  //window.alert('{{msg}}')
  window.load(AlertMessage())
</script>


<div class="container-md d-flex flex-column justify-content-center my-5">
  <div class="container-fluid display-4 bg-warning">{{user}}</div>

  {% if user == 'User Login' %}
  <form action = "{{ url_for('auth.userLogin') }}" method="post">
  {% elif user == 'Doctor Login'%}
  <form action = "{{ url_for('auth.doctorLogin') }}" method="post">
  {% else %}
  <form action = "{{ url_for('auth.adminLogin') }}" method="post">
  {% endif %}
    <div class="mb-3">
      <label for="username" class="form-label">username</label>
      <input type="text" class="form-control" id="username" name="username" />
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="exampleInputPassword1"
        name="password"
      />
    </div>

    <button type="submit" class="btn btn-primary" id="submitbutton">
      Submit
    </button>
  </form>
 
</div>
<div class="btn-group d-flex justify-content-center p-5">
<div>
  <a href="{{url_for('auth.userLogin')}}" class="btn btn-primary" aria-current="page">UserLogin</a>
  <a href="{{url_for('auth.doctorLogin')}}" class="btn btn-primary">DoctorLogin</a>
  <a href="{{url_for('auth.adminLogin')}}" class="btn btn-primary">AdminLogin</a>
  <a href="{{url_for('auth.register')}}" class="btn btn-primary">Register</a>
</div>
</div>

{% endblock %}
