{% extends "base.htm" %} {% block title %}Login{% endblock %} {% block head %}
{{ super() }} {% endblock %}{% block content %}{{ super() }}{% endblock %} {% block subcontent %} {{ super() }}
<script>
  function AlertMessage(){
    let msg = "{{msg}}";
    if (msg.length == 0)
      return;
    
    else
     window.alert(msg);
  }
  //window.alert('{{msg}}')
  window.load(AlertMessage())
</script>
<div class="container-md my-5 w-75 p-5 bg-success">
  <div class="container-fluid p-3">
    <h1 class="display-5 fw-bold">Add Procedure</h1>
  </div>
  <form action = "{{ url_for('med.addProcedure') }}" method="post" class ="justify-content-spacearound p-4">
    <div class="mb-3 row ">
      <label for="Pcode" class="form-label col-sm-3">Procedure code</label>
      <div class="col-sm-9">
        <input type="number" class="form-control " id="Pcode" name="proccode" />
      </div>
    </div>

    <div class="mb-3 row ">
      <label for="Pname" class="form-label col-sm-3">Procedure name</label>
      <div class="col-sm-9">
        <input type="text" class="form-control " id="Pname" name="procname" />
      </div>
    </div>

    <div class="mb-3 row ">
      <label for="Cost" class="form-label col-sm-3">Cost</label>
      <div class="col-sm-9">
        <input type="number" class="form-control" id="Cost" name="cost" />
      </div>
    </div>
    <!-- <div class="mb-3 row ">
      <label for="Desc" class="form-label col-sm-3">description</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="Desc" name="desc" />
      </div>
    </div> -->

    
    <button type="submit" class="btn btn-primary" id="submitbutton">
      Submit
    </button>
  </form>
</div>

{% endblock %}
