{% extends "base.htm" %} {% block title %}Login{% endblock %} {% block
    head %} {{ super() }} {% endblock %} {% block content %}{{ super() }}{% endblock %}{% block subcontent %} {{ super() }}
    <!-- <script>
      function AlertMessage() {
        let msg = "{{msg}}";
        if (msg.length == 0) return;
        else window.alert(msg);
      }
      //window.alert('{{msg}}')
      window.load(AlertMessage());
    </script> -->
    <div class='w-75 mx-auto p-5'>
      <div class="container-fluid d-flex justify-content-between p-3 row">
        <div class = "col-md-8"><h1 class="display-5 fw-bold">Medicines</h1></div>
        <div class = "col-md-4 ">
          <a class="btn btn-success" href="{{url_for('dept.addDepartment')}}" role="button">Add Medicines</a></div>
      </div>
    </div>
    <div class="table-responsive justify-content-center mx-auto w-75">
      <!-- <div class="table-responsive"> -->
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Medcode</th>
              <th scope="col">Medicine name</th>
              <th scope="col">Medicine brand</th>
              <th scope="col">Description</th>
            </tr>
          </thead>
          <tbody>
              {% for item in res %}
              <tr>
                  <th scope="row">{{item.Medcode}}</th>
                  <td>{{item.Mname}}</td>
                  <td>{{item.Mbrand}}</td>
                  <td>{{item.Description}}</td>
              </tr>
              {% endfor %}
          </tbody>
        </table>
      <!-- </div> -->
    </div>
    {% endblock %}
    