{% extends "base.htm" %} {% block title %}Login{% endblock %} {% block head %}
{{ super() }} {% endblock %} {% block content %} {{ super() }}
<script>
  function AlertMessage(){
    let msg = "{{msg}}";
    if (msg.length == 0)
      return;
    
    else
     window.alert(msg);
  }
  //window.alert('{{msg}}')
  window.load(AlertMessage())
</script>
<div class="container-md d-flex justify-content-center my-5">
  <form action = "{{ url_for('auth.login') }}" method="post">
    <div class="mb-3">
      <label for="username" class="form-label">username</label>
      <input type="text" class="form-control" id="username" name="username" />
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="exampleInputPassword1"
        name="password"
      />
    </div>

    <button type="submit" class="btn btn-primary" id="submitbutton">
      Submit
    </button>
  </form>
</div>
{% endblock %}
